@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body {
  font-family: 'PT Sans';
}

ul {
  list-style-type: none;
}

.nav-tabs.nav-justified>li>a {
  padding-bottom: 10px;
  padding-top: 10px;
}

.search_bar ul {
	padding: 0;
	background-color: #005baa;
	border-radius: 0;
	margin-left: -1px;
	margin-top: 32px;
}

.search_bar ul li{
	border-bottom: 1px solid #fff;
}

.search_bar ul li a{
	width:100%; 
	font-family: 'pt sans';
	clear: both;
	color: #ffffff;
	display: block;
	font-weight: bold;
	line-height: 1.42857;
	padding: 3px 9px;
	white-space: nowrap;
}

nav.navbar.navbar-default {
	background: rgba(255, 255, 255, 0.5 );
}

/* Register Form*/
.modal span.opensans {
	display: inline-block;
	padding: 15px;
}

.opensans input {
	margin: auto;
	display: block;
}

/* Modal Design */
#tdiv{
	display: none;
}

/* Social Logins*/
.social-login{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  padding: 10px 0 25px 0;
  border-bottom: 1px solid #eee;
}
.social-login a{
  position:relative;
  float: left;
  width:calc(45% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
.social-login a i{
  position: relative;
  float: left;
  width: 20px;
  top: 2px;
}
.social-login a:first-child{
  background-color: #49639F;
}
.social-login a:last-child{
  background-color: #DF4A32;
}

.or_option{
  border-top:1px solid #808080;
  position:relative;
  clear: both;
}

.or_option span{
  font-size:16px;
  color:#808080;
  background: #fff;
  text-align:center;
  padding:2px 5px;
  width: 40px;
  display: block;
  margin: auto;
  margin-top: -12px;
}

/*End Social Logins*/

/* Side Nav Bar*/
.leftnav {
  position:relative;
  background:#fff;
  margin:auto;
  padding:5px;
  list-style: none;
  overflow:hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1); 
  border: solid 1px #ddd;
  border-top: 10px solid #005BAB;
  padding-bottom: 10px;
  padding-top: 10px;
   
}

.leftnav .col-md-4{
  padding-right: 0;
}

.leftnav .col-md-4 img{
  width: 70px;
  height: 70px;
  display: inline;
  margin: auto;
  object-fit: cover;
  border-radius: 100%;
}

.leftnav .opensans {
  display: inline-block;
  margin: auto;

}

.sidenav {
  margin-top: 20px;
}

/*.sidenav .navbar ul li {
  padding: 10px 5px;
  margin-bottom :10px;
  background-color: #005BAB;
  color: #fff !important;
}

.sidenav .navbar ul li:hover {
  background-color: #0b8f77;
  
}

.sidenav .navbar ul li a{
  color: #fff !important;
}

.sidenav .navbar ul li a:hover{
  background: transparent;
}
*/
.sidenav .navbar ul {
    position:relative;
    background:#fff;
    
    margin:auto;
    padding:0;
    list-style: none;
    overflow:hidden;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    
    -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1); 
    
  }

  .sidenav .navbar li a {
    
    padding-left:20px;
    height:50px;
    line-height:30px;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
    color:#686868;
    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;    
    border-bottom: solid 1px #eee; 
  }

  .sidenav .navbar li a:hover {
    background:#efefef;
  }

  .sidenav .navbar li.active a {
    background:#efefef;
    color: #000 !important;
  }

  .sidenav .navbar li:first-child a,.sidenav .navbar li:nth-child(7) a {
    border-left:5px solid #008747;
  }

  .sidenav .navbar li:nth-child(2) a,.sidenav .navbar li:nth-child(8) a {
      border-left:5px solid #fecf54;
  }
    
  .sidenav .navbar li:nth-child(3) a,.sidenav .navbar li:nth-child(9) a {
      border-left:5px solid #cf2130;
  }

  .sidenav .navbar li:nth-child(4) a,.sidenav .navbar li:nth-child(10) a {
      border-left:5px solid #1A237E;
  } 

  .sidenav .navbar li:nth-child(5) a,.sidenav .navbar li:nth-child(11) a {
      border-left:5px solid #E64A19;
  } 
  .sidenav .navbar li:nth-child(6) a,.sidenav .navbar li:nth-child(12) a {
      border-left:5px solid #dde2d5;
  } 

  .sidenav .navbar li:first-child a:hover, .sidenav .navbar li:first-child a {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
  }

  .sidenav .navbar li:last-child a:hover, .sidenav .navbar li:last-child a {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    height: 60px;
  }

  .sidenav .navbar li a:hover i {
    color:#ea4f35;
  }

  .sidenav .navbar i {
    margin-right:15px;
    
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear; 
  }

  .sidenav .navbar em {
    font-size: 10px;
    background: #ea4f35;
    padding: 3px 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;    
    font-style: normal;
    color: #fff;
    margin-top: 17px;
    margin-right: 15px;
    line-height: 10px;
    height: 10px;   
    float:right;
  }

  .sidenav .navbar li.selected a {
    background:#efefef;
  }

/* End Side Nav Bar*/

/* Group */
.groupbtn {
  width: 116px;
  border-radius: 3px;
  font-size: 13px;
  margin-top:6px;
  font-family: tahoma;
}

.profileGreen{
  color:#0d9980;
}

.profileGray{
  color:#9F9F9F;
}

.profileBlocks{
  border-top:5px solid #16a085;
  padding:10px;
  margin-bottom:25px;
}

.profileBlockHr{
  color:#6e6e6e;
  margin-top:-2px;
}

.ProfileChangeImage{
  font-family: tahoma;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;  
  background: black none repeat scroll 0% 0%; 
  width: 161px; 
  margin-top: 5px; 
  padding: 5px; 
  color: white; 
  font-size: 13px; 
  opacity: 0.8;
}

.ProfileChangeImage:hover{
  font-family: tahoma;
  text-align: center;
  border-radius: 3px;
  cursor: pointer; 
  background: #005BAB none repeat scroll 0% 0%; 
  width: 161px; 
  margin-top: 5px; 
  padding: 5px; 
  color: white; 
  font-size: 13px; 
  opacity: 0.8;}

.ProfileChangeImageActive{
  font-family: tahoma;
  text-align: center;
  border-radius: 3px;
  cursor: pointer; 
  background: #005BAB none repeat scroll 0% 0%; 
  width: 161px; 
  margin-top: 5px; 
  padding: 5px; 
  color: white; 
  font-size: 13px; 
  opacity: 0.8;
  }

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #005BAB;
  border-color: #005BAB;
  color: #fff;
  cursor: default;
  z-index: 2;

}

.pagination > li > a, .pagination > li > span {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #005BAB;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-radius: 5px 5px 0 0;
}

.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
  border-radius: 5px 5px 0 0;
}

.tabtech{
  background-color: #2bbba1;
  border-radius: 5px 5px 0 0;
  color: white;
  float: left;
  padding: 7px;
  text-align: center;
  }

.tabtechactive{
  background-color: #e8e8e8;
  border-radius: 5px 5px 0 0;
  color: black;
  float: left;
  padding: 7px;
  text-align: center;
}

.imgContain {
  display: table;
  position: relative;
  margin-top: -16px;
  float: left;
}

.imgContain:hover .textHover {
  display:block;
}
/* End Group */

.postprofile {
  width: 64px; 
  height: 64px;
  display: inline-block;
}

.posttextarea {
  height: 63px !important; 
  overflow: hidden;
  width: 85%;
  display: inline-block;
}

.postimageuploadicon {
  float: left;
  margin-left: 100px;
  margin-top: -46px;
  width: 373px; 
  position: relative;
}

.notemessage {
  color: black;
  font-size: 11px;
  font-weight: bold;
  margin-left: 15px;
  display: block;
}

.cards {
  margin-bottom: 20px;
  border: 1px solid gray;
-webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.1); 
border-top: 10px solid #005BAB;
min-height: 150px;
padding: 10px;
margin: 10px;

}

.cardborder {
  border:solid 1px #e7e7e7;

}

.themecolor {
  color:#005BAB;
}

.gender {
  font-size: 20px;
}

.gender span {
  margin-right: 20px;
}

.gender span.active {
  color: #005BAB;
}

.catbuttons {
  position: relative;
  margin-top: 10px;
}
.catbuttons a{
  background: #005BAB;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
}

.catbuttons a i{
  display: block;
  font-size: 30px;
  
  margin-bottom: 10px;
}

/*Messages*/
.message {
  margin:12px;
}

.message img{
  float:left;
  margin-top: -5px;
}

.message p {
  color: #acacac;
  font-size: 12px;
  height: 16px;
  overflow: hidden;
  position: relative;
  width: 250px;
}

.message .timeago {
  float: right;
  font-size: 11px;
  margin-top: -10px;
}

.message i {
  color: #005BAB;
  float: right;
  font-size: 33px;
  margin-right: 11px;
  margin-top: -49px;
}

.sectionTitle{
    font-size: 17px;
    font-weight: normal;
    color: #6e6e6e;
    font-family: 'PT Sans';
    background-color: #ffffff;
    width: 100%;
    min-width: 100%;
    padding: 10px;
    display: inline-block;

}

.sectionBody{
    background-color: #ffffff;
    width: 100%;
    margin-top: 1px;
    padding: 10px 10px 10px 10px;
}

.gray{
    background-color: #F9F9F9;
}

.shadowcard{
  border: solid 1px #eee;
  box-shadow:3px 0px 10px #ccc;
}



/* Side Nav Bar*/
@media (min-width: 768px) {
  .sidenav .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .sidenav .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

.sidenav .navbar
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
}	

.sidenav .navbar-nav,
.sidenav .navbar-nav > li,
.sidenav .navbar-left,
.sidenav .navbar-right,
.sidenav .navbar-header
{float:none !important;}

.sidenav .navbar-right .dropdown-menu {left:0;right:auto;}
.sidenav .navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}


}


@media (max-width: 768px) {
	.modal.fade.in {
		padding-left: 0 !important;
	}
	.modal-dialog {
		margin: 0 !important;
	}
}